@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uc9awm');
  src:  url('fonts/icomoon.eot?uc9awm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uc9awm') format('truetype'),
    url('fonts/icomoon.woff?uc9awm') format('woff'),
    url('fonts/icomoon.svg?uc9awm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::after, 
[class*=" icon-"]::after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down1:before {
  content: "\e907";
}
.icon-chevron-down::after {
  content: "\e900";
}
